[submodule "github-chief-owner"]
	path = github-chief-owner
	url = https://github-chief-owner@github.com/github-chief-owner/
[submodule "github-chief-"]
	path = github-chief-
	url = https://github-chief-owner@github.com/github-chief-owner/animation
